$name: (
  (
    name: 'v',
    tra: 'translateY(30px)'
  ),
  (
    name: 'form',
    tra: 'translateY(-30px)'
  ),
  (
    name: 'dropdown',
    tra: 'translateY(-5px)'
  ),
  (
    name: 'preview',
    tra: 'translateY(5px)'
  ),
  (
    name: 'show',
    tra: 'translateX(-2px)'
  )
);
@mixin transition {
  @for $i from 1 through length($name) {
    .#{map-get(nth($name, $i), name)}-enter-active,
    .#{map-get(nth($name, $i), name)}-leave-active {
      transition: all 0.3s ease-in-out;
    }
    .#{map-get(nth($name, $i), name)}-enter-from,
    .#{map-get(nth($name, $i), name)}-leave-to {
      opacity: 0;
      transform: #{map-get(nth($name, $i), tra)};
    }
  }
}
